<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="19960BogdanB.TheShoppingList" Publisher="CN=4E87F883-6FEA-4B8F-9088-5E5336A782BD" Version="1.0.0.0" />
  <Properties>
    <DisplayName>The Shopping List</DisplayName>
    <PublisherDisplayName>Bogdan B</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TheShoppingList.App">
      <VisualElements DisplayName="The Shopping List" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="The best shopping list app on Windows 8. It's easy to use, it's simple, and most important, it gives you everything you need to create a shopping list." ForegroundText="dark" BackgroundColor="#16499A" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="The Shopping List" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#16499A" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" Executable="TheShoppingList.exe" EntryPoint="TheShoppingList.app">
          <FileTypeAssociation Name="shoplist">
            <Logo>Assets\Logo.png</Logo>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.shoplist</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.shoplist</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>