<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="0fed0162-62d9-438e-bae1-b7737ac76b5c" Publisher="CN=Bogdan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TheShoppingList</DisplayName>
    <PublisherDisplayName>Bogdan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TheShoppingList.App">
      <VisualElements DisplayName="TheShoppingList" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TheShoppingList" ForegroundText="dark" BackgroundColor="#16499A" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="The Shopping List" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#16499A" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" Executable="TheShoppingList.exe" EntryPoint="TheShoppingList.app">
          <FileTypeAssociation Name="shoplist">
            <Logo>Assets\Logo.png</Logo>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.shoplist</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.shoplist</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>